table {
    background-color: papayawhip;
    border: 16px; width: 80%;
    
}
td {
    background-color: moccasin;

}
.s {
     background-color: papayawhip;
}
.r {
    background-color: rgb(245, 199, 71);
}